!.gitignore

/Users/vatsalajha/Documents/GitHub/BuildSpace/Project 1/Background_files/
/Users/vatsalajha/Documents/Github/BuildSpace/Project\1/
/Users/vatsalajha/Documents/GitHub/ECDSA-Node/node_modules